body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:840px;
  height:540px;
  font-size:14px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:836px;
  word-wrap:break-word;
}
